{% extends '::base.html.twig' %}

{% block title %}{{ 'app.title'|trans }} | {% trans from "headings" %}error.heading{% endtrans %}{% endblock %}
{% block custom_body_tag %}<body>{% endblock %}
{% block body %}
<h3>{{ 'info.errormessage'|trans }}:</h3>
<p style="font-size: 1.1em; color: #ff0000;">{{ exception.message }}</p>
{% endblock %}
