web/bundles/
web/css/
web/fonts/
web/images/
web/js/
web/_controller/
web/uploads/
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/fingerprintlogs
app/sessions/*
app/config/parameters.yml
app/lock/*
build/
vendor
phpunit.phar
.settings
.buildpath
.project
app/config/deploy.rb
Capfile
