web/bundles/
web/css/
web/images/
web/js/
web/_controller/
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/sessions/*
app/config/parameters.ini
build/
vendor
phpunit.phar
.settings
app/config/deploy.rb
Capfile
