<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>
        <link href="{{ asset('/css/fontawesome.css') }}" rel="stylesheet" media="screen">
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        {% block javascripts_top %}{% endblock %}
        {% block additional_resources %}{% endblock %}
    </head>
{% block custom_body_tag %}
    <body>
{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts_bottom %}{% endblock %}
        {% block javascripts_custom %}{% endblock %}
        {% block lastresources %}{% endblock %}
    </body>
</html>
