parameters:
    database_driver: "pdo_mysql"
    database_host: "localhost"
    database_port: ""
    database_name: "sisdik"
    database_user: "sisdik"
    database_password: ""
    mailer_transport: "smtp"
    mailer_host: "localhost"
    mailer_user: ""
    mailer_password: ""
    locale: "id_ID"
    secret: "notasecrettoken"
    app_title: "SisDik"
    proxypass: "0"
    proxypassname: "sisdik"
    assets_base_url_http: ""

    messenger_provider: "zenziva"
    messenger_scheme: "http"
    messenger_host: "zenziva.com"
    messenger_port: ""
    messenger_user: ""
    messenger_password: ""
    messenger_resource: "/apps/smsapi.php"
    messenger_apikey: ""
    messenger_report: "0"
