@font-face {
	font-family: 'QlassikBold';
	src: url('qlassikbold_tb-webfont.eot');
	src: url('qlassikbold_tb-webfont.eot?#iefix')
		format('embedded-opentype'), url('qlassikbold_tb-webfont.woff')
		format('woff'), url('qlassikbold_tb-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* TypographyXtra.less
 * Headings, body text, lists, code, and more for a versatile and durable typography system
 * ---------------------------------------------------------------------------------------- */
@font-face {
	font-family: "IconicStrokeRegular";
	src: url('iconic_stroke.eot');
	src: url('iconic_stroke.eot?#iefix') format('embedded-opentype'),
		url('iconic_stroke.woff') format('woff'), url('iconic_stroke.ttf')
		format('truetype'), url('iconic_stroke.svg#IconicStrokeRegular')
		format('svg'), url("iconic_stroke.otf") format('opentype');
	font-style: normal;
	font-weight: normal;
}